http://localhost {
   root * /var/www/zola/public
   file_server

   handle /projects/backdoorbag/* {
        root * /var/www
        file_server
    }

    log {
        output file /var/log/caddy/my-static-site.log
    }

    header {
        ?Cache-Control "max-age=1800"
    }

}
